[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pep8-naming = "*"
mypy = "*"
isort = "*"
bandit = "*"

[requires]
python_version = "3.8"
